<section class="sing-in">
  <h1 class="page-title">Sing in</h1>
  <%= render 'form' %>
  <p class="sing-in__text">Don't have an account? <%= link_to 'Sing up', new_user_path, class: '' %></p>
</section>

