<section class="user-profile">
  <h1 class="page-title">User registration</h1>
  <%= render 'form' %>
  <p class="sing-in__text">I already have an account. <%= link_to 'Sing in', new_session_path, class: '' %></p>
</section>