$primary-color: #fc572a;
$text-color: #000;
$text-color-hover: #fff;

$border-color: #000;
$deck-link-text-hover: #fff;

$card-front-text-color: #2a2a72;
$card-back-text-color: #FD6A42;
$card-front-bg: #FD6A42;
$card-back-bg: #2a2a72;

$error-color: #B3261E
